body {
    text-align: center;
  }

  .btn {
    height: 200px;
    width: 200px;
    border: 8px solid #000;
    border-radius: 20%;
    margin: 1rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;

  }

  .red {
    background-color: #a4170a;
  }

  .yellow {
    background-color: #ccff00;
  }

  .green {
    background-color: #a3b18a;
  }

  .blue {
    background-color: #276d95;
  }
  .flash {
  background-color: white;
}